{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="static/css/login.css">
{% endblock %}

{% block content %}
<div class="container">
  {% if messages %}
  <div class="messages">{{ messages }}</div>
  {% endif %}
  <form method="post" class="form-signin">
    <h2 class="form-signin-heading">Add User</h2>
    <label for="inputUid" class="sr-only">User ID</label>
    <input id="inputUid" name="username" class="form-control" placeholder="Username" required="" autofocus="">
    <button class="btn btn-lg btn-primary btn-block"
    type="submit">Add User</button>
  </form>  
</div> 
{% endblock %}
